<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/dashboard.css" />
</head>
<body>
    <div class="header">
        <h1>Your Virtual Meeting Hub</h1>
    </div>
    <div class="box">
        <div class="main-container">
            <div class="container">
                <form action="/logout" method="GET">
                    <button type="submit" id="logout_btn">Logout</button>
                </form>
                <div class="content">
                    <h1>You're In,  
                        <%if(locals.username){%>
                            <%= locals.username %>!
                        <%} else{%>
                            User!
                        <%}%>
                    </h1>
                    <!-- Create New Room (Join Call) Form -->
                    <div class="join-call-container">
                        <h2>Start a New Call</h2>
                        <form action="/join-call" method="POST">
                        <button type="submit" class="join-call-btn">Join Call</button>
                        </form>
                    </div>
    
                    <!-- Join Existing Room Form -->
                    <div class="join-room-container">
                        <h2>Join an Existing Room</h2>
                        <form action="/join-room" method="POST">
                            <div class="form-group">
                                <label for="roomId">Room ID</label>
                                <input type="text" id="roomId" name="roomId" placeholder="Enter Room ID" required>
                            </div>
                            <button type="submit" class="join-room-btn">Join Room</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        <div class="room-container">
            <h1><%= users.length === 0 ? "Previous Room" : "Current Room" %></h1>
            <div class="room-info-container">
                <h2>Room ID: <%= roomId || "No Room Joined" %></h2>
                <p><strong>Users:</strong> 
                    <%= (users && users.length > 0) ? users.map(user => user.username).join(", ") : "No users in room" %>
                  </p>                  
                <p><strong>Start Time:</strong> <%= startTime || "Not Started" %></p>
                <p><strong>End Time:</strong> <%= endTime || "In Progress" %></p>
            </div>
        </div>
    </div> 
    <button id="get-history-btn">Room History</button>
    <script>
        const btn=document.getElementById("get-history-btn")
        btn.addEventListener("click", function () {
        window.location.href = "/room_details"; 
      });
    </script>
</body>
</html>
